# Project exclude paths
/Eureka8001/target/
/Eureka8002/target/
/spring-cloud-config-3344/target/
/spring-cloud-consumer-openfeign-5002/target/
/spring-cloud-consumer-openfeign-hystrix-5003/target/
/spring-cloud-gateway-9527/target/
/spring-cloud-hystrix-dashboard/target/
/spring-cloud-provider6001/target/
/spring-cloud-provider6002/target/
/spring-cloud-provider-Hystrix6003/target/
/srping-cloud-consumer/target/